/*
	Colors
	Super Light Button Text Green : #62C94C;
	Lighter Green : #2F7F21
	Darker Green : #28631C;
	Light Tan : #FEE05D;
	Dark Tan : #B2992F;
	Pep Red : #993737;
*/

/*
	ID's ----------------------------------------------------------------------------
*/
#header{
	border: 1px solid #B2992F;
	border-top: 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #545252;
}
#Canvas1{
	padding-top: 5px;
}

#navContainer{
	text-align: left;
	padding-top: 50px;
}

#CTA{
	margin-top: 10px;
	border: 4px ridge #B2992F;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-image: url(../images/CTA_pizza.jpg);
	height: 466px;
}

#menuCTA{
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px solid black;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #FEE05D;
	height:350px;
}

#about{
	margin-top: 10px;
	margin-bottom: 10px;
	border: 2px solid black;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #FEE05D;
	height: 350px;
}

#orderNow{
	margin-top: 5px;
	margin-bottom: 5px;
	position: absolute;
	right:    5px;
	bottom:   5px;
	border: 2px solid black;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#menuNow{
	margin-top: 5px;
	margin-bottom: 5px;
	position: absolute;
	right:    5px;
	bottom:   5px;
	border: 2px solid black;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/*
	Classes's -----------------------------------------------------------------------
*/

.red{
	color: #993737;
}

.ctaHeader{
	margin-top: 10px;
	border: 1px solid #B2992F;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #B2992F;
	/*color: white;*/
	width: 755px ;
}

/*
	Natural Selectors ------------------------------------------------------------------
*/

nav, ul, li{
	display:inline;
	text-align: center;
	padding-right: 30px;
	font-family: "Helvetica Neue";
	font-size: 18pt;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Verdana";
	font-weight: bold;
}

a{
	color: #993737;
	display:inline;
}

ul{
	list-style-type: none;
}
