/*
	Colors
	Super Light Button Text Green : #62C94C;
	Lighter Green : #2F7F21
	Darker Green : #28631C;
	Light Tan : #FEE05D;
	Dark Tan : #B2992F;
	Pep Red : #993737;
*/

#header{
	border: 1px solid #B2992F;
	/*background-color: #B2992F;*/
}

nav, ul, li{
	display:inline;
	text-align: center;
	/*background-color: #993737;*/
}

a{
	color: #993737;
	display:inline;
}

ul{
	list-style-type: none;
}