/*
	Colors
	Super Light Button Text Green : #62C94C;
	Lighter Green : #2F7F21
	Darker Green : #28631C;
	Light Tan : #FEE05D;
	Dark Tan : #B2992F;
	Pep Red : #993737;
*/

/*
	ID's ----------------------------------------------------------------------------
*/
#header{
	border: 1px solid #B2992F;
	border-top: 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 5px;
	background-color: #dbdbdb;
	box-shadow: 3px 3px 3px #545252;
}

#Canvas1{
	padding-top: 5px;
}

#navContainer{
	text-align: left;
	padding-top: 50px;
}

#CTA{
	margin-top: 10px;
	background-image: url(../images/CTA_pizza.jpg);
	height: 466px;
}

#orderNow{
	margin-top: 5px;
	margin-bottom: 5px;
	position: absolute;
	right:    5px;
	bottom:   5px;
	border: 2px solid black;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#menuNow{
	margin-top: 5px;
	margin-bottom: 5px;
	position: absolute;
	right:    5px;
	bottom:   5px;
	border: 2px solid black;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/*
	Classes -----------------------------------------------------------------------
*/

.red{
	color: #993737;
}

.ctaHeader{
	margin-top: 10px;
	border: 1px solid #B2992F;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #B2992F;
	box-shadow: 3px 3px 3px black;
}

.secondarySection{
	margin-top: 10px;
	margin-bottom: 10px;
	height:350px;
	border-left: 1px solid #B2992F;
	border-top: 1px solid #B2992F;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background-color: #dbdbdb;
	box-shadow: 3px 3px 3px #545252;
}

.imageContainer{
	vertical-align: middle;
	padding-left: 100px;
}

.map_container{
	background-image: url(../images/templates/map.jpg);
	height: 442px;
	background-repeat: no-repeat;
	border-left: 1px solid #B2992F;
	border-top: 1px solid #B2992F;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	background-color: #dbdbdb;
	box-shadow: 3px 3px 3px #545252;
	padding:10px;
}

.map_container a.pin{
	background-image: url(../images/templates/pin_normal.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 20px;
	width: 20px;
	display:block;
	position: absolute;
	cursor: pointer; 
}

/*
When a pin is selected or hovered over, change colors
*/

.map_container a.pin:hover{
	background-image:url(../images/templates/pin_hover.png); 
}

.map_container a.pin.selected{
	background-image: url(../images/templates/pin_selected.png);
}

.location_info_container{display:none;}

.mapError{
display:none;}

.smallIcon{
	border:3px solid #B2992F;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
}

.smallIcon:hover{
	border:3px solid #993737;
}

.map_container .detail_container {
	float:right;
	width: 380px;
	height: 425px;
	border: 3px solid black;
}

.location_info{
	padding: 10px;
}
/*
	Natural Selectors ------------------------------------------------------------------
*/

nav, ul, li{
	display:inline;
	text-align: center;
	padding-right: 25px;
	font-family: "Helvetica Neue";
	font-size: 18pt;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Verdana";
	font-weight: bold;
}

a{
	color: #993737;
	display:inline;
}

ul{
	list-style-type: none;
}

body{
	background-image: url(../images/templates/old_moon.png);
	background-repeat: repeat;
}

/*
	Media Queries ------------------------------------------------------------------
*/
@media only screen and (max-device-width: 500px){
	#CTA{
		background-image: url(../images/CTA_pizza_small.jpg);
		background-repeat: no-repeat;
		height: 466px;
	}

	.secondarySection{
		box-shadow: none;
		border: 1px solid #B2992F;
	}

	#header{
		box-shadow: none;
	}

	.imageContainer{
	padding-left: 70px;
	}

	.map_container{
		visibility: hidden;
	}
	.mapError{visibility: visible;}
}