/*
	Colors
	Super Light Button Text Green : #62C94C;
	Lighter Green : #2F7F21
	Darker Green : #28631C;
	Light Tan : #FEE05D;
	Dark Tan : #B2992F;
	Pep Red : #993737;
*/

/*
	ID's ----------------------------------------------------------------------------
*/
#header{
	border: 1px solid #B2992F;
	border-top: 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 5px;
	box-shadow: 3px 3px 3px #545252;
}

#Canvas1{
	padding-top: 5px;
}

#navContainer{
	text-align: left;
	padding-top: 50px;
}

#CTA{
	margin-top: 10px;
	background-image: url(../images/CTA_pizza.jpg);
	height: 466px;
}

#menuCTA{
	margin-top: 10px;
	margin-bottom: 10px;
	height:350px;
	border-left: 1px solid #B2992F;
	border-top: 1px solid #B2992F;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 3px 3px 3px #545252;
}

#about{
	margin-top: 10px;
	margin-bottom: 10px;
	border-left: 1px solid #B2992F;
	border-top: 1px solid #B2992F;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	height: 350px;
	box-shadow: 3px 3px 3px #545252;
}

#orderNow{
	margin-top: 5px;
	margin-bottom: 5px;
	position: absolute;
	right:    5px;
	bottom:   5px;
	border: 2px solid black;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#menuNow{
	margin-top: 5px;
	margin-bottom: 5px;
	position: absolute;
	right:    5px;
	bottom:   5px;
	border: 2px solid black;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

/*
	Classes -----------------------------------------------------------------------
*/

.red{
	color: #993737;
}

.ctaHeader{
	margin-top: 10px;
	border: 1px solid #B2992F;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #B2992F;
	box-shadow: 3px 3px 3px black;
}

.imageContainer{
	vertical-align: middle;
	padding-left: 100px;
}

.smallIcon{
	border:3px solid #B2992F;
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;
}

.smallIcon:hover{
	border:3px solid #993737;
}
/*
	Natural Selectors ------------------------------------------------------------------
*/

nav, ul, li{
	display:inline;
	text-align: center;
	padding-right: 25px;
	font-family: "Helvetica Neue";
	font-size: 18pt;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Verdana";
	font-weight: bold;
}

a{
	color: #993737;
	display:inline;
}

ul{
	list-style-type: none;
}

body{
	background-image: url(../images/old_moon.png);
	background-repeat: repeat;
}

/*
	Media Queries ------------------------------------------------------------------
*/
@media only screen and (max-device-width: 500px){
	#CTA{
		background-image: url(../images/CTA_pizza_small.jpg);
		background-repeat: no-repeat;
		height: 466px;
	}

	#menuCTA{
		box-shadow: none;
		border: 1px solid #B2992F;
	}

	#about{
		box-shadow: none;
		border: 1px solid #B2992F;
	}
	.imageContainer{
	padding-left: 70px;
	}
}