@charset "UTF-8";

.icons #twitter{
	background-image: url(../images/socialicons.png);
	background-repeat: no-repeat;
	display: block;
	float: left;
	background-position: 0px 0px;
	height: 32px;
	width: 32px;
}
/*Will change the icon when you hover over it*/
.icons #twitter:hover{
	background-position: 0px -32px;
}

.icons #facebook{
	background-image: url(../images/socialicons.png);
	background-repeat: no-repeat;
	display: block;
	float: left;
	background-position: -32px 0px;
	height: 32px;
	width: 32px;
}
.icons #facebook:hover{
	background-position: -32px -32px;
}