.Ship-Blink{ background:url("Ship-Blink.png") top left no-repeat; }
.Ship-Blink_r1_c1{ width:110px; height:80px; background-position:0 0; }
.Ship-Blink_r1_c1_1{ width:110px; height:80px; background-position:-110px 0; }
.Ship-Blink_r1_c1_2{ width:110px; height:80px; background-position:-220px 0; }
.Ship-Blink_r1_c1_3{ width:110px; height:80px; background-position:-330px 0; }
.Ship-Blink_r1_c1_4{ width:110px; height:80px; background-position:-440px 0; }
.Ship-Blink_r1_c1_5{ width:110px; height:80px; background-position:-550px 0; }
.Ship-Blink_r1_c1_6{ width:110px; height:80px; background-position:-660px 0; }
.Ship-Blink_r1_c1_7{ width:110px; height:80px; background-position:-770px 0; }
.Ship-Blink_r1_c1_8{ width:110px; height:80px; background-position:-880px 0; }
.Ship-Blink_r1_c1_9{ width:110px; height:80px; background-position:-990px 0; }
.Ship-Blink_r1_c1_10{ width:110px; height:80px; background-position:-1100px 0; }
.Ship-Blink_r1_c1_11{ width:110px; height:80px; background-position:-1210px 0; }
