#piechart{
	width: 500px; 
	height: 500px;
	float: right;
}

#piechart2{
	float:left;
	width: 500px; 
	height: 500px;
}

#canvas{
	border: 1px solid black;
}


div#men{
            position: relative;
            width:46px;
            height:46px;
            background-color: #6DB3F2;
            background-image: url(../images/beer.png);
            background-repeat: repeat;
            display: inline-block;
        }

        div#women{
            position: relative;
            width:46px;
            height:46px;
            background-color: #d82ad8;
            background-image: url(../images/malt.png);
            background-repeat: repeat;
            display: inline-block;
        }

        .menLabel{
            background-color: #6DB3F2;
            display: inline-block;
            padding: 8px;
            vertical-align: top;
            font-size: 25pt;
            color: #fff;
        }

        .womenLabel{
            background-color: #d82ad8;
            display: inline-block;
            padding: 8px;
            vertical-align: top;
            font-size: 25pt;
            color: #fff;
        }

        p, span {
            font-size: 16pt;
        }
        button {
            margin: 5px;
        }

.container{
	position: absolute;
	left: 500px;
	top:350px;
	border: 1px solid #888;
	padding: 8px;
}

.animatedChartExplained{
	position: absolute;
	left: 900px;
	top: 400px;
	border: 3px solid #888;
	padding: 8px;
	background-color: #2E97C6;
	margin-bottom: 10px;
}

#toggle{
	position: absolute;
	top:720px;
	right: 670px;
}

#toggle2{
	position: absolute;
	top:400px;
	left:50px;
}

.pieChartExplained{
	/*position: absolute;
	left: 500px;
	top: 750px;*/
	border: 3px solid #888;
	padding: 8px;
	background-color: #2E97C6;
}

.button{
	border: 2px solid black;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}